.authorsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-top: 1.5px solid black;
}

.authorsContainer strong {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.cardsAuthors {
  display: flex;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author + .author {
  margin-left: 1rem;
}

.authorImg {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 4px solid var(--white-500);
  outline: 4px solid var(--red-800);
}

.authorInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 1rem;
}

.authorInfo strong {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1rem;
  margin-bottom: 1rem;
  color: var(--gray-800);
}

.authorContacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactLinkedin {
  width: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue-300);
  border-radius: 4px;
  padding: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  margin-bottom: 0.25rem;
}

.contactLinkedin:hover {
  background: var(--blue-500);
  transition: background-color 0.2s
}

.contactLinkedin + .contactLinkedin {
  margin-top: 1rem;
}

.contactLinkedin img {
  width: 1rem;
  fill: white;
}

.contactLinkedin span {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.contactGithub {
  width: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-800);
  border-radius: 4px;
  padding: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.contactGithub:hover {
  background: var(--gray-900);
  transition: background-color 0.2s
}

.contactGithub + .contactGithub {
  margin-top: 1rem;
}

.contactGithub img {
  width: 1rem;
  height: 1rem;
  fill: white;
}

.contactGithub span {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  color: #fff;
}