.headerContainer {
  background: var(--gray-800);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
  min-width: 11px;
  height: 5rem;
  padding: 0 30rem;
}

.headerContainer img {
  height: 3rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h2 {
  color: var(--white);
  font-size: 1.5rem;
}

.logo img {
  width: 4rem;
}

.menu {

}

.ancora {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid var(--white);
  padding: 0.5rem;
  border-radius: 10px;
}

.ancora + .ancora {
  margin-left: 1rem;
  
}

.ancora:hover {
  color: var(--red-900);
  border: 2px solid var(--red-900);
  transition: color border 0.2s;
}