

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  border-radius: 10px;
  border: 2px solid var(--red-900);
}

.card + .card {
  margin-left: 0.25rem;
}

.card img {
  width: 12rem;
  border-radius: 10px;
}

.card strong {
  font-size: 1rem;
}