.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: flex-start;
  background: var(--white-500);
  border-radius: 8px;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}